apiVersion: v1
kind: Service

metadata:
  name: web-service

spec: 
  selector: 
    component: ihapp
  
  type: NodePort
  ports:
   - nodePort: 30000
     port: 5000
     targetPort: 8080
